<!DOCTYPE html>
<html>
    <head>
        <title>Student Form</title>
        <link rel="stylesheet" type="text/css"
            href="{{ url_for('static', filename='style.css') }}">
        <link rel="icon"
            href="{{ url_for('static', filename='images/favicon.ico') }}"
            type="image/x-icon">

    </head>
    <body class="dark">
        <div class="navbar">
            <h1>Student Form</h1>
            <div class="theme-buttons">
                <button class="theme-button" onclick="setTheme('light')">Light</button>
                <button class="theme-button" onclick="setTheme('dark')">Dark</button>
            </div>
        </div>

        <form method="POST" action="/">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" required
                    autocomplete="off" placeholder="Enter full-name">
            </div>

            <div class="form-group">
                <label for="course">Course:</label>
                <input type="text" name="course" id="course" required
                    autocomplete="off" placeholder="Enter course name">
            </div>

            <div class="form-group">
                <label for="college">College:</label>
                <input type="text" name="college" id="college" required
                    autocomplete="off" placeholder="Enter college name">
            </div>

            <div class="form-group">
                <label for="phone">Phone:</label>
                <input type="text" name="phone" id="phone" required
                    autocomplete="off" placeholder="Enter '0-9'"
                    oninput="validatePhoneNumber(this)">
            </div>

            <div class="form-group">
                <label for="address">Address:</label>
                <input type="text" name="address" id="address" required
                    autocomplete="off" placeholder="Enter address">
            </div>

            <input type="submit" value="Submit">
        </form>

        <h2>Submitted Data:</h2>
        <ul>
            {% for student in students %}
            <li>
                <div class="student-info">
                    Name: {{ student.name }}<br>
                    College: {{ student.college }}<br>
                    Phone: {{ student.phone }}<br>
                    Address: {{ student.address }}<br>
                    Course: {{ student.course_name }}
                </div>
            </li>
            {% endfor %}
        </ul>

        <script>
            function setTheme(theme) {
                const body = document.querySelector('body');
                body.className = theme;
            }

            function validatePhoneNumber(input) {
                input.value = input.value.replace(/\D/g, '');
            }
        </script>
        <script src="script.js"></script>
    </body>
</html>
